/* Navigation */
/* body{
    background-color: red;
} */
#navbar{
    flex-direction: column;
    height: 200px;
}
#navbar::before{
    width: 140%;
    height:150px;

}

#navbar ul li a{
    font-size:1rem;
    padding:6px 30px;
    margin: 2px;
    
}

/* Home section */
#home{
    height: 120px;
    padding: 3px 28px;
    
}
#home::before{
    height:480px ;
    width: 140%;
}
#home p{
    font-size:13px ;
}
/* services section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;

}
/* client section */
#client-section{
    flex-wrap: wrap;
 }
 #clients img:hover{
    opacity: 1.5;

 }
 #client-section::before{
    width: 140%;
    height: 350px ;
 }
#clients img{
     height: 100px;
     justify-content: center;
     margin:0px 0px;
     opacity: 0.6;
     padding: 10px 20px ;
}


/* contact us section */
#contact-box form{
    width: 80%;

}
#contact-box{
    justify-content: center;
   margin: 30px;
   padding: 5px 30px;
}
#contact::before{
    width: 140%;
}
/* footer */
footer{
    width: 140%;
}
/* utility classes */
.h-primary{
    font-size:30px ;
    margin-top: 150px;
}
.btn{
    font-size: 13px;
    padding: 4px 6px;
    cursor: pointer;
}